
<!--{% extends "base.html" %}-->
<!--{% block title %}Change your password{% endblock %}-->
<!--{% block content %}-->
<head>
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
</head>
    <h1>Изменить пароль</h1>
    <p>Используйте форму снизу чтобы изменить пароль.</p>
    <div class="login-form">
        <form method="post">
    <!--        {{ form.as_p }}-->
                <p><input type="submit" value="Изменить"></p>
    <!--        {% csrf_token %}-->
        </form>
    </div>
<!--{% endblock %}-->