{% extends "registration/login.html" %}
{% block content %}
  <div class="login-box">
    <h1>Сброс пароля</h1>
    {% if validlink %}
      <p>Введите новый пароль:</p>
      <form method="post">
        <div class="user-box">
           {{ form }}
        </div>
        {% csrf_token %}
      <input class="logout-login" type="submit" value="Сменить пароль" />
      </form>
    {% else %}
      <p>Некорректная ссылка для сброса пароля, Возможно это из-за того, что она уже использовалась.
        Сбросьте пароль заново.</p>
    {% endif %}
  </div>

{% endblock %}