html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#3760ac, #072444);
    background-repeat: no-repeat;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(62, 147, 161, 0.5)
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    color: #fff;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


.sub{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    border-radius: 5px;
}

.sub:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 15px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.logout-login {
    color: #111;
    background: #fff;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.logout-login:hover {
    background: #ABABAB;
    color: #191919;
    transition: .5s;
    box-shadow: 0 0 5px #111,
                0 0 10px #111;

}

.center{
    text-align: center;
}

.white{
    color: #fff;
}

.change {
    margin-top: 3%;
    width: 730px;
}

.reset {
    width: 430px;
}

